{% extends "@page" %}

{% block header %}
  {% include "@site-header--ecosystem" %}
{% endblock %}

{% block content %}
  <div class="outer-pad">
    {% include "@hero--top-level-lp" with hero %}
    {% include "@card-set" with card_set %}
    {% render "@pagination" %}
  </div>
{% endblock %}

{% block footer %}
  {% include "@site-footer--ecosystem" %}
{% endblock %}