<div class="home-announcement">
  <span class="fak fa-iastate22-exclamation-point" aria-hidden="true"></span>
  <div class="home-announcement__text"><p>{{ text }} <a href="{{ link.url }}">{{ link.text }}<span class="visible-for-screen-readers">About {{ text }}</span></a></p></div>
</div>