<div class="home-announcement">
  <span class="fak fa-iastate22-info-box" aria-hidden="true"></span>
  <div class="home-announcement__text"><p>{{ text }} <a href="{{ link.url }}">{{ link.text }}</a></p></div>
</div>