.block-editor .paragraph-widget--card-set {
	margin: 1rem 0;
}

.block-editor .card-set::after {
	left: 0;
	right: 0;
}

.block-editor .card-set > ul {
	margin: 0;
}

.block-editor .card-set > ul > li {
	padding-right: 0.5rem;
}

.block-editor .card-set img[src=""] {
	background-color: var(--wp--preset--color--off-white);
	background-image:
		linear-gradient(to right bottom, transparent calc(50% - 1px), rgba(0, 0, 0, 0.2) calc(50% - 1px), rgba(0, 0, 0, 0.2) calc(50% + 1px), transparent calc(50% + 1px)),
		linear-gradient(to left bottom, transparent calc(50% - 1px), rgba(0, 0, 0, 0.2) calc(50% - 1px), rgba(0, 0, 0, 0.2) calc(50% + 1px), transparent calc(50% + 1px));
}
