<div class="hero hero--top-level-lp{% if not image %} hero--top-level-lp--no-media{% endif %}">
  <div class="hero__text-wrap">
    {% include "@breadcrumb--top-level-pages" with breadcrumbs %}
    <h1 class="hero__title">{{title}}</h1>
  </div>
  {% if image %}
  <div class="hero__media">
    <img src="{{image}}" alt="" loading="lazy" width="1770" height="662">
  </div>
  {% endif %}
  {% if subnav_horizontal %}
  <div class="hero__subnav-wrap">
    {% include "@subnav--horizontal" with subnav_horizontal %}
  </div>
  {% endif %}
</div>