<div class="iastate22-card iastate22-card--linked-image">
  <div class="iastate22-card__media">
		<img src="{{ image|path }}" alt="">
	</div>
  <a class="iastate22-card__cta" href="{{ cta.url }}">{{ cta.text }}<span class="arrow"></span></a>
</div>