.block-editor .ecosystem-home-hero {
	position: inherit;
	margin: 1rem 0;
}

.block-editor .ecosystem-home-hero.ecosystem-home-hero--no-image::before {
	content: none;
}

.block-editor .ecosystem-home-hero.ecosystem-home-hero--supporting-image {
	margin: 0;
}

.block-editor .ecosystem-home-hero--supporting-image .ecosystem-home-hero__media {
	right: 0;
}

.block-editor .ecosystem-home-hero span.arrow {
	display: none;
}
