<div
	class="paragraph-widget paragraph-widget--button-set"{% if block.anchor|length > 0 %} id="{{ block.anchor|e('esc_attr') }}"{% endif %}>
	<div class="iastate22-button-set">
		<ul>
			{% for item in fields.buttons %}
				{% if item.link_url %}
					<li>
						<a class="iastate22-button"
						   href="{{ item.link_url|e('esc_url') }}"{% if item.external == true %} target="_blank"{% endif %}>{{ item.label }}
							<span class="arrow"></span></a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
