<p class="iastate-article__back-btn"><a href="{{ site.home|e('esc_url') }}">Home</a></p>
<div class="hero--event-detail"{% if block.anchor|length > 0 %} id="{{ block.anchor|e('esc_attr') }}"{% endif %}>
	<h1 class="hero--event-detail__headline">
		{% if post.title %}
			{{ post.title }}
		{% else %}
			{{ wp_title }}
		{% endif %}
	</h1>
</div>
