<p class="iastate-article__back-btn"><a href="/events/">View All Events</a></p>
<div class="hero--event-detail">
    <h1 class="hero--event-detail__headline">
      {% if post.title %}
        {{ post.title }}
      {% else %}
        {{ wp_title }}
      {% endif %}
    </h1>
</div>
