<div class="paragraph-widget paragraph-widget--link-block">
    <div class="link-block">
        <h2>{{ fields.title }}</h2>
        <div class="link-set">
            <ul>
            {% for link in fields.links %}
                <li>
                    {% if link.label %}
                        {% set link_text = link.label %}
                    {% else %}
                        {% set link_text = link.url.title %}
                    {% endif %}
                    <a href="{{ link.url.url }}" class="link-set__link iastate22-link-secondary"{% if link.url.target|length > 0 %} target="{{ link.url.target }}"{% endif %}>{{ link_text }}<span class="arrow"></span></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>    
</div>