<div class="paragraph-widget paragraph-widget--text-html">
    <div class="text-content">
        {{ fields.text_content|striptags('<h1><h2><h3><h4><h5><h6><p><ul><ol><li><a><button><dd><dl><dt><blockquote><figure><figcaption><img><span><hr><br><br/><div>') }}
    </div>
</div>