<div class="paragraph-widget paragraph-widget--text-html"{% if fields.anchor_target|length > 0 %} id="{{ fields.anchor_target|e('esc_attr') }}"{% endif %}>
    <div class="text-content">
        {{ fields.text_content }}
    </div>
</div>
