<div
	class="paragraph-widget paragraph-widget--text-html"{% if block.anchor|length > 0 %} id="{{ block.anchor|e('esc_attr') }}"{% endif %}>
	<div class="text-content">
		{{ fields.text_content }}
	</div>
</div>
