{% extends "base.twig" %}

{% block content %}
	<div class="outer-pad">
		<div class="paragraph-widget paragraph-widget--text-html">
			<div class="text-content">
				<p>Sorry, we couldn't find what you're looking for.</p>
			</div>
		</div>
	</div>
{% endblock %}