{% extends "base.twig" %}

{% block content %}
	<div class="outer-pad">
        {% include ['blocks/event-landing-hero.twig'] %}
		<div class="calendar">
			{% include ['partial/calendar-filters.twig'] %}
			<div class="calendar__wrap"></div>
		</div>
	</div>
{% endblock %}
