{% extends "base.twig" %}

{% block content %}
	<div class="outer-pad">
		<div class="hero hero--top-level-lp hero--top-level-lp--no-media">
			<div class="hero__text-wrap">
				{% include ['templates/partial/breadcrumbs.twig'] %}

				<h1 class="hero__title">{{ title }}</h1>
			</div>
		</div>

		<div class="card-set card-set--teaser">
			<ul>
				{% for post in posts %}
					<li>
						{% include ['tease-'~post.post_type~'.twig', 'tease-profile.twig'] %}
					</li>
				{% endfor %}
			</ul>
		</div>

		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</div>
{% endblock %}
