<div class="ecosystem-home-hero ecosystem-home-hero--supporting-image">
  <div class="ecosystem-home-hero__content">
    <h1 class="ecosystem-home-hero__title">{{ hero.title }}</h1>
    {% if hero.button_set.items %}
    {% include "@button-set" with hero.button_set %}
    {% endif %}
  </div>
  <div class="ecosystem-home-hero__media">
    <img src="{{ hero.image }}" alt="" loading="lazy" width="800" height="800">
  </div>
</div>