.wp-block-gallery {

	figcaption {
		margin-bottom: 0;

		a {
			color: var(--global--color-white);
		}
	}
}

.wp-block-gallery {

	margin: 0 auto;

	.blocks-gallery-image,
	.blocks-gallery-item {

		// On mobile and responsive viewports, we allow only 1 or 2 columns at the most.
		width: calc((100% - var(--global--spacing-unit)) / 2);

		figcaption {
			margin: 0;
			// Text color is always white to account for default gradient background
			color: var(--global--color-white);
			font-size: var(--global--font-size-xs);

			a {
				color: var(--global--color-white);

				&:focus {
					background-color: transparent;
					outline: 2px solid var(--wp--style--color--link, var(--global--color-primary));
					text-decoration: none;
				}
			}
		}

		a:focus img {
			outline-offset: 2px;
		}

	}
}


.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: 0;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}
