<div class="privacy-consent" hidden>
    <div class="privacy-consent__content">
        {{ body|raw }}
    </div>
    <div class="privacy-consent__buttons">
        <button class="iastate22-button iastate22-button--reverse privacy-consent__accept" type="button">Accept<span class="arrow"></span></button>
        <button class="iastate22-button iastate22-button--reverse privacy-consent__decline" type="button">Decline<span class="arrow"></span></button>
    </div>
</div>