{% if post.announcement_banner -%}
  <div class="home-announcement">
    {%- if post.announcement_type == 'info' -%}
      <span class="fak fa-iastate22-info-box" aria-hidden="true"></span>
    {%- elseif post.announcement_type == 'alert' -%}
      <span class="fak fa-iastate22-exclamation-point" aria-hidden="true"></span>
    {%- endif -%}
    <div class="home-announcement__text">{{ post.announcement_banner|e('wp_kses_post') }}</div>
  </div>
{%- endif %}
